

<form id = "<%=@proposal.id%>", class="vote", method = "post" action="/proposals/<%=@proposal.id%>/votes">
    <div><button class = "votebutton", type = "submit", name = "vote", value = "true" <%= @proposal.already_voted?(current_user) ? "disabled" : "" %>><i class="fa fa-thumbs-up" aria-hidden="true"></i></button></div>

    <!-- <div id = "votePopularity"><%=@question.rating%></div> -->
    <div id = "votePopularity"><%=@proposal.count_votes%></div>
    <!-- down Vote button-->
</form>
<script src="js/devvote.js"></script>
